html
  head
    style
      include ../public/css/style.css      
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css") 
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
        crossorigin="anonymous")
    title 2ch webm tv
  body
    div(class="flex-box")
        h2(class="page-heading")  ALL HOT WEBMS FROM 2CH.HK
        select(class="thread-select", id="thread-select")
            each w in webmThreads
                option(value=w.num) #{w.subject}
        
        video( width="850" height="480" controls id="video")
        <a class="prev" onclick="prevWebm()">&#10094;</a>
        <a class="next" onclick="nextWebm()">&#10095;</a>
        div(class="container")
        
        div(class="playBtnContainer row")
            div(class="one-third column")
                button(id = "prevBtn" class="playerBtn" )
                    i(class="fa fa-backward fa-3x") 
            div(class="one-third column")
                span(class="counter" id="counter")
            div(class="one-third column")
                button(id = "nextBtn" class="playerBtn" )
                    i(class="fa fa-forward fa-3x") 
    script.
      var HttpClient = function() {
        this.get = function(aUrl, aCallback) {
        var anHttpRequest = new XMLHttpRequest();
        anHttpRequest.onreadystatechange = function() { 
            if (anHttpRequest.readyState == 4 && anHttpRequest.status == 200)
                aCallback(anHttpRequest.responseText);
          }
        anHttpRequest.open( "GET", aUrl, true );            
        anHttpRequest.send( null );
        }
      }

      webmArr = "#{webms}";
      webmArr = webmArr.split(',');
      
      var video = document.getElementById('video');
      var source = document.createElement('source');
      var counter = document.getElementById('counter');
      var select = document.getElementById('thread-select');

      source.setAttribute('src', webmArr[0]);
      video.appendChild(source);
      counter.textContent = '0/' + webmArr.length;

      video.onended = nextWebm;

      document.body.onkeyup = function (e) {
          if (e.keyCode == 39) {
              nextWebm();
          }
      }

      document.body.onkeydown = function (e) {
          if (e.keyCode == 37) {
              prevWebm();
          }
      }

      select.addEventListener('change', function(){
        changeThread(this.value);
      });

      document.getElementById("nextBtn")
          .addEventListener("click", nextWebm);
      document.getElementById("prevBtn")
          .addEventListener("click", prevWebm);

      function changeThread(num){
        var client = new HttpClient();
        client.get(window.location.origin+'/threads?threadId='+num, function(response) {
          webmArr = JSON.parse(response);
          source.setAttribute('src', webmArr[0]);
          counter.textContent = '0/' + webmArr.length;
          video.load();

        });
      }

      function prevWebm() {
          var curWebm = webmArr.indexOf(source.getAttribute('src'));
          if (curWebm === 0) {
              //prev thread?
          } else {
                source.setAttribute('src', webmArr[curWebm - 1]);
                counter.textContent = decrementCounter(counter.textContent)
                video.load();
                video.play();
          }
      }

      function nextWebm() {
          var curWebm = webmArr.indexOf(source.getAttribute('src'));
          if (curWebm === webmArr.length-1) {
              //prev thread?
          } else {
            source.setAttribute('src', webmArr[webmArr.indexOf(source.getAttribute('src')) + 1]);
            counter.textContent = incrementCounter(counter.textContent);
            video.load();
            video.play();
          }
      }

      function incrementCounter(counter) {
          var counterNumbers = counter.split('/');
          counterNumbers[0] = Number(counterNumbers[0]);
          counterNumbers[0]++;
          return counterNumbers.join("/")
      }

      function decrementCounter(counter) {
          var counterNumbers = counter.split('/');
          counterNumbers[0] = Number(counterNumbers[0]);
          counterNumbers[0]--;
          return counterNumbers.join("/");
      }   