body{
    background-color: #eeeeee;
    background-image: url('/img/lightning.png')
}

.flex-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.thread-select{
    display: block;
    width:500px;
    margin: 1rem auto;
}

.playBtnContainer {
    width: 400px;
    height: 60px;
    margin: 1rem auto;
    display: flex;
    text-align: center;
    background-color: dimgrey;
    border-radius: 3rem;
    
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
  }

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev {
    left: 0;
    border-radius: 3px 0 0 3px;
  }


  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color:#FF6600;   
  }

.counter{
    display: block;
    font-size: 30px;
    margin-top: 5%;
    color:#FF6600;   
    
}

.playerBtn {
    margin-top: 10px;
    background-color:#FF6600;   
}

.page-heading{
    text-align: center;
    margin: 0 auto;
    padding:0;

}

video{
   /* background-image: url('http://www.jettools.com/images/animated_spinner.gif') ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */
    display: block;
    margin:  auto;
  
    
}

